@model DotNetAndReactSample.ViewModel.GoldListViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "View";
}
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <h1>View</h1>
    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Records[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Records[0].Price)s
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Records)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <form method="POST" asp-action="GoldPriceList">
            <label for="minPrice">minPrice</label>
            <input type="number" required="required" id="minPrice" name="minPrice" placeholder="@Model.MinPrice" />
            <label for="maxPrice">maxPrice</label>
            <input type="number" required="required" id="maxPrice" name="maxPrice" placeholder="@Model.MaxPrice" />
            <input type="submit" />
        </form>
    </div>
    <div class="pages">
        <a asp-action="GoldPriceList" asp-controller="GoldPrice" asp-route-page="@Model.CurrentPageNumber" asp-route-countPerPage="10">Show 10  || </a>
        <a asp-action="GoldPriceList" asp-controller="GoldPrice" asp-route-page="@Model.CurrentPageNumber" asp-route-countPerPage="25">Show 25  || </a>
        <a asp-action="GoldPriceList" asp-controller="GoldPrice" asp-route-page="@Model.CurrentPageNumber" asp-route-countPerPage="50">Show 50</a>
    </div>
    <div>
        @for (int i = 1; i <= Model.Count / Model.CountPerPage; i++)
        {
            <a asp-action="GoldPriceList" asp-controller="GoldPrice" asp-route-page="@i">@i</a>
        }

    </div>
</body>
